<nav class="nav flex-column border rounded pointer-event nav-pills">
  <a class="nav-link disabled bg-dark" tabindex="-1" aria-disabled="true">Database</a>
  <a class="nav-link" >Competitions</a>
<!--  <a class="nav-link" >Postal Match</a>-->
  <a class="nav-link" routerLink="/ridersView">Riders</a>
  <a class="nav-link" routerLink="/horses">Horses</a>
<!--  <a class="nav-link" >Clubs</a>-->
  <a class="nav-link" routerLink="/countries">Countries</a>
<!--  <a class="nav-link" >Statistics</a>-->
<!--  <a class="nav-link" >Series</a>-->
<!--  <a class="nav-link" >Style Calculators</a>-->
  <a class="nav-link" routerLink="/lastResult">Last Result</a>
<!--  <a class="nav-link" >Documentation</a>-->
</nav>
