<nav class="nav flex-column w-25 border rounded pointer-event nav-pills">
  <a class="nav-link disabled bg-dark" href="#" tabindex="-1" aria-disabled="true">Database</a>
  <a class="nav-link" href="#">Competitions</a>
  <a class="nav-link" href="#">Postal Match</a>
  <a class="nav-link" href="#">Riders</a>
  <a class="nav-link" href="#">Horses</a>
  <a class="nav-link" href="#">Clubs</a>
  <a class="nav-link" href="#">Statistics</a>
  <a class="nav-link" href="#">Series</a>
  <a class="nav-link" href="#">Style Calculators</a>
  <a class="nav-link" href="#">Last Result</a>
  <a class="nav-link" href="#">Documentation</a>
</nav>
