/* You can add global styles to this file, and also import other style files */
@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);

tr {
  line-height: 15px;
  font-size: 13px;
  font-family: Arial Unicode MS, Arial, sans-serif;
}
